#container {
  height: 100vh;
  display: flex; /* Flex-Container aktivieren */
  flex-direction: row; /* Verlauf Hauptachse */
  justify-content: flex-start; /* Anordnung auf der Hauptachse */
  align-items: flex-start; /* Anordnung auf der Querachse */
  /* flex-direction: row | column | row-reverse | column-reverse */
  /* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly */
  /* align-items: stretch | flex-start | flex-end | center | baseline */
}

.box {
  height: 100px;
  width: 100px;
  background: #000;
}

#a {
  background: orange;
}

#b {
  background: magenta;
}

#c {
  background: cyan;
}
